.game {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 600px;
}

.menu{
  display: flex;
  flex-direction: column;
  text-align: center;
  position:relative;
  align-items: center;
  width:100%;
}

.bar {
  display: flex;
  justify-content: space-evenly;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.context-button-box {
  display: flex;
  flex-direction: row;
}
.context-button {
  font-family:'Times New Roman', Times, serif;
  font-weight:600;
}

.popup {
  position:absolute;
  top: 70%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height:100%;
  background-color: rgba(159, 159, 159, 0.5);

  display: flex;
  justify-content: center;
  align-content: center;

}

.popup-inner {
  transform: translate(0%, 50%);
  width:50%;
  height:50%;
  background-color: white;
}
.popup-p {
  color: black !important;
}


footer {
  padding: 1em;
  margin-top:auto;
  text-align: center;
}



/*==================================THEMES===================================*/
/* =================== Lean 'N' Green =========================
Prefix: lg
*/
.lg-game {
  background-color: #2b362e;
}

.lg-game .bar, footer{
  background-color: #535353;
}

.lg-game h1, .lg-game a:hover {
  color: #2df700;
}

.lg-game p {
  color: #d0d0d0;
}

.lg-game button {
  color: #d0d0d0;
  background-color: #1a1a1a;
}
.lg-game button:hover {
  border-color: #2df700;
}
.lg-game button:active {
  background-color:#2df700;
}
/*TILES*/
.lg-game .tile{
  border-color: #23b902;
  border-style: inset;
}
.lg-game .tile-covered{
  background-color:#27cc02;
  color: #27cc02;
}
.lg-game .tile-uncovered{
  background-color:#2df700;
  color: black;
}
.lg-game .tile-empty{
  background-color: #2df700;
  color: #2df700;
}
.lg-game .tile-bomb{
  background-color:red;
  color: red;
}
.lg-game a {
  font-weight: 500;
  color: #64e8ff;
  text-decoration: inherit;
}


/* =================== Icy Blue ================================
Prefix: ib
*/
.ib-game {
  background-color: #6fb8fc;
}

.ib-game .bar, .ib-game footer {
  background-color: #dce0e3;
}


.ib-game p, .ib-game h1, .ib-game  a:hover{
  color: #021a63;
}

.ib-game button {
  color: #021a63;
  background-color: #286ffb;
}
.ib-game button:hover {
  border-color: #023f78;
  color: #023f78;
}
.ib-game button:active {
  background-color:#023f78;
}
.ib-game .tile{
  border-color: #7f94ee;
  border-style: inset;
}
.ib-game .tile-covered{
  background-color:#286ffb;
  color: #286ffb;
}
.ib-game .tile-uncovered{
  background-color:#6394f5;
  color: #021a63;
}
.ib-game .tile-empty{
  background-color: #6394f5;
  color: #6394f5;
}
.ib-game .tile-bomb{
  background-color:#9269e9;
  color: #9269e9;
}
.ib-game a {
  font-weight: 500;
  color: #c4eaf0;
  text-decoration: inherit;
}
/* =================== Red Velvet ================================
Prefix: rv
*/
.rv-game {
  background-color: #d50e0e;
}

.rv-game .bar, .rv-game footer {
  background-color: #c5a6a6;
}


.rv-game p, .rv-game h1, .rv-game a:hover{
  font-weight:500;
  color: #670f00;
}

.rv-game button {
  color: #670f00;
  background-color: #ca8787;
}
.rv-game button:hover {
  border-color: #ffdddd;
  color: #ffdddd;
}
.rv-game button:active {
  background-color:#670f00;
}
.rv-game .tile{
  border-color: #460101;
  border-style: inset;
}
.rv-game .tile-covered{
  background-color:#a50202;
  color: #a50202;
}
.rv-game .tile-uncovered{
  background-color:#e35555;
  color: #a50202;
}
.rv-game .tile-empty{
  background-color: #e35555;
  color: #e35555;
}
.rv-game .tile-bomb{
  background-color:#fff700;
  color: #fff700;
}
.rv-game a {
  font-weight: 500;
  color: #f0c9c4;
  text-decoration: inherit;
}

/* =================== Boiler Plater Gray ================================
Prefix: bpg
*/
.bpg-game {
  background-color: #e8e8e8;
}

.bpg-game .bar, .bpg-game footer {
  background-color: #a3a3a3;
}


.bpg-game p, .bpg-game h1, .bpg-game a:hover{
  color: #3b3b3b;
}

.bpg-game button {
  color: #3b3b3b;
  background-color: #8f8f8f;
}
.bpg-game button:hover {
  border-color: #696969;
  color: #696969;
}
.bpg-game button:active {
  background-color:#333333;
}
.bpg-game .tile{
  border-color: #353535;
  border-style: inset;
}
.bpg-game .tile-covered{
  background-color:#909090;
  color: #909090;
}
.bpg-game .tile-uncovered{
  background-color:#aeaeae;
  color: #3b3b3b;
}
.bpg-game .tile-empty{
  background-color: #aeaeae;
  color: #aeaeae;
}
.bpg-game .tile-bomb{
  background-color:#6e0101;
  color: #6e0101;
}
.bpg-game a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}

/*BOARD POSITIONING*/
.board {
  display: flex;
  justify-content: center;
  align-items: center;
}

